<h1>realTimeProducts</h1>
<label for="id">id</label><input id="inputId" name="id" type="text">
<label for="title">title</label><input id="inputTitle" name="title" type="text">
<label for="description">description</label><input id="inputDescription" name="description" type="text">
<label for="code">code</label><input id="inputCode" name="code" type="text">
<label for="price">price</label><input id="inputPrice" name="price" type="number">
<label for="status">status</label><input id="inputStatus" name="status" type="checkbox">
<label for="stock">stock</label><input id="inputStock" name="stock" type="number">
<label for="category">category</label><input id="inputCategory" name="category" type="text">
<label for="thumbnails">thumbnails</label><input id="inputThumbnails" name="thumbnails" type="text">

<button id="btnEnviar">enviar</button>

<h3>productosActuales</h3>

<div id="productosactuales"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>